@import "./variables.scss";

.contact-sec {
  @media (min-width: 992px) {
    background-image: url(../images/Wave-background.svg);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: -5.5rem;
  }
  background-image: url(../images/Wave-background-mob.svg);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  margin-top: -5.5rem;
  .pt-contact {
    padding-top: 7.25rem;
    padding-bottom: 4rem;
    @media (min-width: 768px) {
      background-image: url(../images/Contact-us-vector-image.svg);
      background-position: bottom;
      background-repeat: no-repeat;
      padding-top: 9rem;
      padding-bottom: 5rem;
    }
    .contact-box {
      @media (min-width: 991px) and (max-width: 1199px) {
        width: calc(22.75rem + 5vw);
        height: calc(32.75rem + 5vw);
      }
      width: calc(26.75rem + 5vw);
      height: calc(26.75rem + 5vw);
      background-color: #fff6efbe;
      background-position: 0% 0%;
      background-repeat: no-repeat;
      background-origin: padding-box;
      border-radius: 22px;
      padding: 5rem 3rem;
    }
    .form-box {
      @media screen and (max-width: 767px) {
        width: calc(20.75rem + 5vw);
        height: auto;
        padding: 0.75rem;
        background-color: transparent;
      }
      @media (min-width: 991px) and (max-width: 1199px) {
        width: calc(22.75rem + 5vw);
        height: calc(32.75rem + 5vw);
      }
      width: calc(26.75rem + 5vw);
      height: calc(26.75rem + 5vw);
      background-color: #fff6efbe;
      background-position: 0% 0%;
      background-repeat: no-repeat;
      background-origin: padding-box;
      border-radius: 22px;
      padding: 1rem 2rem 1.5rem 2rem;
      input,
      textarea {
        width: 100%;
        margin-bottom: 0.625rem;
        min-height: 3rem;
        background-color: #fefefe;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-origin: padding-box;
        box-shadow: inset 0px 2px 8px #00000029;
        border: none;
        outline: none;
        @media screen and (max-width: 767px) {
          font-size: 1.125rem;
          background-color: #f5f0fd;
        }
        font-size: 1.5rem;
        color: $navy-blue;
        padding: 0.5rem 1rem;
        border-radius: 11px;
      }

      ::placeholder {
        @media screen and (max-width: 767px) {
          font-size: 1.125rem;
        }
        font-size: 1.5rem;
        color: $navy-blue;
        opacity: 0.55;
      }

      .demo-btn {
        color: $white;
        background: $orange;
        border: none;
        padding: 8px 30px;
        border-radius: 13px;
        outline: none;
        box-shadow: 0px 6px 15px #0000006c;
        opacity: 1;
      }
    }
  }
  .talk-to-us {
    img {
      position: relative;
      top: 32px;
      margin-bottom: 4rem;
      @media (max-width: 768px) {
        top: 20px;
        height: 74px;
        margin-bottom: 0.5rem;
      }
    }
  }
}
